![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown

Evoluciones de población y economía

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown

El propósito es de: viendo las evoluciones de la población de los distintos municipios de España, tomar decisiones de inversión. 
Se tratará de ver si las tendencias de evolución de la población de un municipio están relacionadas con su evolución económica y posibilidades de inversión.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una hipótesis principal.

In [ ]:
# Escribe tu hipótesis principal en Markdown

El crecimiento de población de un municipio supone una mejora de sus variables económicas

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown

* Análisis de la influencia del tamaño del municipio en su evolución demográfica
* Evolución de la tasa de paro según su demografía
* Explorar oportunidades de posibles inversiones en municipios con crecimiento analizando su estructura económica.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# describe la fuente de tus datos e incluye los links en Markdown

Principalmente el INE:

[Empresas por municipio y actividad principal](https://www.ine.es/jaxiT3/Tabla.htm?t=4721&L=0)

[Cifras oficiales de población de los municipios españoles](https://www.ine.es/dynt3/inebase/es/index.htm?padre=525)

Y el SEPE para las cifras de paro:

[Paro registrado por municipios](https://www.sepe.es/HomeSepe/que-es-el-sepe/estadisticas/datos-estadisticos/municipios.html)

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [1]:
import pandas as pd
import numpy as np

In [5]:
# Datos de paro por municipio, agrupado por sexo, edad y sector económico (falta poner nombres a las columnas)
df = pd.read_excel('Data_paro/ESTADISTICA_MUNICIPIOS2023.xls', sheet_name=provincia).iloc[7:,:]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,2001.0,ABENGIBRE,26,0,<5,7,<5,<5,11,<5,<5,<5,19,<5
8,2002.0,ALATOZ,39,<5,<5,10,<5,9,15,<5,<5,7,27,<5
9,2003.0,ALBACETE,11764,485,1641,2214,473,2770,4181,542,1021,617,8565,1019
10,2004.0,ALBATANA,60,<5,<5,12,0,14,31,12,5,<5,38,<5
11,2005.0,ALBOREA,56,0,<5,19,<5,9,21,13,7,<5,32,<5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,50295.0,VISTABELLA,<5,<5,,,,,,,,,<5,
297,50296.0,"ZAIDA, LA",16,,<5,6,<5,<5,5,<5,<5,<5,12,
298,50297.0,ZARAGOZA,33896,1348,4506,7271,1288,7776,11707,694,3285,2016,24719,3182
299,50298.0,ZUERA,315,14,37,64,18,89,93,12,61,22,202,18
300,NaN,ZARAGOZA,46097,1879,5991,9696,1776,10609,16146,1772,4998,2618,32639,4070

In [6]:
csv = pd.read_excel('empresas/empresas_municipios.xls').iloc[7:,:]
csv

,Resultados municipales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
7,Total Nacional,3430663,3366570,3404428,3363197,3337646,3282346,3236582,3186878,3119310,...,1559106,1574572,1526091,1489762,1453039,1407294,1348482,1278401,1260378,1250410
8,01 Araba/Álava,18771,18628,18851,18678,19147,18518,20034,19548,19652,...,7494,7464,7240,7344,7090,7444,7274,7166,7192,7173
9,01001 Alegría-Dulantzi,154,169,155,148,151,160,168,160,147,...,53,47,43,41,42,50,49,44,39,36
10,01002 Amurrio,601,596,601,600,616,603,616,604,591,...,195,193,191,185,186,186,188,178,178,179
11,01003 Aramaio,43,46,46,50,45,42,50,49,48,...,17,16,19,14,11,11,10,11,11,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8191,50903 Villamayor de Gállego,155,160,160,166,159,154,156,151,158,...,73,75,69,65,65,61,57,56,53,56
8192,51 Ceuta,3744,3749,3845,3789,3916,3844,3762,3749,3590,...,1512,1518,1461,1447,1383,1346,1329,1224,1251,1218
8193,51001 Ceuta,3744,3749,3845,3789,3916,3844,3762,3749,3590,...,1512,1518,1461,1447,1383,1346,1329,1224,1251,1218
8194,52 Melilla,4856,5024,5234,5304,4667,4524,4349,4102,3754,...,1680,1702,1609,1496,1438,1414,1339,1226,1244,1215
8195,52001 Melilla,4856,5024,5234,5304,4667,4524,4349,4102,3754,...,1680,1702,1609,1496,1438,1414,1339,1226,1244,1215

In [7]:
csv = pd.read_csv('poblacion/albacete copy.csv', index_col = "Unnamed: 0", encoding="latin1")
csv

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,Unnamed: 28
02 Albacete,385.727,386.464,388.270,388.167,388.786,390.032,392.118,394.580,396.987,400.007,...,379.448,376.556,371.787,367.283,363.263,361.021,358.597,NaN,359.010,NaN
02001 Abengibre,739.000,748.000,761.000,790.000,757.000,748.000,761.000,782.000,775.000,819.000,...,977.000,959.000,972.000,987.000,976.000,996.000,1.007,NaN,1.019,NaN
02002 Alatoz,496.000,496.000,506.000,519.000,529.000,555.000,582.000,610.000,580.000,572.000,...,603.000,625.000,633.000,648.000,661.000,684.000,675.000,NaN,683.000,NaN
02003 Albacete,172.357,172.722,174.336,173.329,173.050,172.816,172.426,172.121,172.487,172.693,...,156.466,155.142,152.155,149.507,149.667,147.527,145.454,NaN,143.799,NaN
02004 Albatana,670.000,681.000,679.000,692.000,693.000,698.000,714.000,744.000,748.000,774.000,...,854.000,852.000,859.000,875.000,872.000,870.000,874.000,NaN,907.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02082 Villatoya,106.000,108.000,109.000,109.000,95.000,107.000,110.000,115.000,112.000,119.000,...,187.000,174.000,186.000,182.000,191.000,197.000,193.000,NaN,194.000,NaN
02083 Villavaliente,202.000,214.000,220.000,224.000,226.000,219.000,234.000,238.000,249.000,264.000,...,273.000,287.000,279.000,274.000,282.000,288.000,291.000,NaN,307.000,NaN
02084 Villaverde de Guadalimar,321.000,333.000,325.000,338.000,340.000,349.000,359.000,373.000,381.000,402.000,...,432.000,461.000,502.000,514.000,528.000,543.000,564.000,NaN,570.000,NaN
02085 Viveros,335.000,328.000,329.000,337.000,340.000,338.000,337.000,300.000,310.000,302.000,...,485.000,494.000,512.000,520.000,538.000,559.000,564.000,NaN,595.000,NaN
02086 Yeste,2.495,2.567,2.614,2.657,2.674,2.742,2.818,2.869,2.964,3.052,...,3.667,3.781,3.991,4.157,4.280,4.444,4.657,NaN,5.014,NaN